html {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px !important;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@import 'transitions';
@import 'rich-text';
@import 'layout';
@import 'vv-card';

.v-btn {
  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}

.indexed {
  z-index: 1;
}
